@import "tailwindcss";

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
@theme {
  --color-primary: #c95792;
  --color-seconday: #55238a;
  --color-card: #3b0a60;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-phone: 30rem; /* 480px - Small phones */
  --breakpoint-tablet: 40rem; /* 640px - Large phones / small tablets */
  --breakpoint-medium-tablet: 48rem; /* 768px - iPad portrait / tablets */
  --breakpoint-laptop: 64rem; /* 1024px - Laptops / landscape tablets */
  --breakpoint-desktop: 80rem; /* 1280px - Standard desktops */
  --breakpoint-widescreen: 96rem; /* 1536px - Large desktop monitors */
}

/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-primary-500: #a78bfa; 
    --color-primary-600: #8b5cf6;
  }
} */
/* 
body {
  background: var(--color-primary-500);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
} */
