APP_NAME=back-end
HOST_PORT=4000
# MONGODB_CRIDIENTIAL=mongodb+srv://<user>:<password>/?retryWrites=true&w=majority
MONGODB_CRIDIENTIAL=mongodb://admin:password@mongodb:27017/?authMechanism=DEFAULT
JWT_TOKEN="bnmhrejm34eddvbtrvfbet"

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

RECAPTCHA_SECRET_KEY=
RECAPTCHA_TEST_SECRET_KEY=
ENCODE_PRIVATE_KEY=
